In [1]:
import pandas as pd

df = pd.read_csv('./data/vgsales.csv')

In [9]:
#1

# Import libraries
import sqldf

df = pd.read_csv('./data/vgsales.csv')

# Define a SQL (SQLite3) query
query = """
SELECT *
FROM df
WHERE "Platform" == "NES";
"""

# Run the query
df_view = sqldf.run(query)

print(df_view)

    index   Rank                                               Name Platform  \
0       1      2                                  Super Mario Bros.      NES
1       9     10                                          Duck Hunt      NES
2      22     23                                Super Mario Bros. 3      NES
3      96     97                                Super Mario Bros. 2      NES
4     127    128                                The Legend of Zelda      NES
..    ...    ...                                                ...      ...
93   5862   5864                                        Famista '91      NES
94   6161   6163                                        Famista '92      NES
95  10309  10311                               Final Fantasy I & II      NES
96  11985  11987  Teenage Mutant Ninja Turtles: Tournament Fighters      NES
97  12636  12638                                 Adventures of Lolo      NES

      Year         Genre                     Publisher  NA_Sales  EU_Sales  \
0   1985.0      Platform                      Nintendo     29.08      3.58
1   1984.0       Shooter                      Nintendo     26.93      0.63
2   1988.0      Platform                      Nintendo      9.54      3.44
3   1988.0      Platform                      Nintendo      5.39      1.18
4   1986.0        Action                      Nintendo      3.74      0.93
..     ...           ...                           ...       ...       ...
93  1990.0        Sports            Namco Bandai Games      0.00      0.00
94  1991.0        Sports            Namco Bandai Games      0.00      0.00
95  1994.0  Role-Playing                        Square      0.00      0.00
96  1992.0      Fighting  Konami Digital Entertainment      0.04      0.01
97  1989.0        Puzzle                HAL Laboratory      0.06      0.00

    JP_Sales  Other_Sales  Global_Sales
0       6.81         0.77         40.24
1       0.28         0.47         28.31
2       3.84         0.46         17.28
3       0.70         0.19          7.46
4       1.69         0.14          6.51
..       ...          ...           ...
93      0.30         0.00          0.30
94      0.28         0.00          0.28
95      0.11         0.00          0.11
96      0.02         0.00          0.07
97      0.00         0.00          0.06

[98 rows x 12 columns]

In [10]:
#2
# Import libraries
import sqldf

df = pd.read_csv('./data/vgsales.csv')

# Define a SQL (SQLite3) query
query = """
SELECT sum(JP_Sales)
FROM df
"""

# Run the query
df_view = sqldf.run(query)

print(df_view)

   sum(JP_Sales)
0        1291.02

In [12]:
#3
# Import libraries
import sqldf

df = pd.read_csv('./data/vgsales.csv')

# Define a SQL (SQLite3) query
query = """
SELECT *
FROM df
WHERE "Year" >= 2008
"""

# Run the query
df_view = sqldf.run(query)

print(df_view)

      index   Rank                                               Name  \
0         2      3                                     Mario Kart Wii
1         3      4                                  Wii Sports Resort
2         8      9                          New Super Mario Bros. Wii
3        14     15                                       Wii Fit Plus
4        15     16                                 Kinect Adventures!
...     ...    ...                                                ...
7999  16588  16591                                   Mega Brain Boost
8000  16589  16592  Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...
8001  16592  16595                                           Plushees
8002  16595  16598   SCORE International Baja 1000: The Official Game
8003  16596  16599                                         Know How 2

     Platform    Year       Genre               Publisher  NA_Sales  EU_Sales  \
0         Wii  2008.0      Racing                Nintendo     15.85     12.88
1         Wii  2009.0      Sports                Nintendo     15.75     11.01
2         Wii  2009.0    Platform                Nintendo     14.59      7.06
3         Wii  2009.0      Sports                Nintendo      9.09      8.59
4        X360  2010.0        Misc  Microsoft Game Studios     14.97      4.94
...       ...     ...         ...                     ...       ...       ...
7999       DS  2008.0      Puzzle   Majesco Entertainment      0.01      0.00
8000      PSV  2016.0      Action         dramatic create      0.00      0.00
8001       DS  2008.0  Simulation               Destineer      0.01      0.00
8002      PS2  2008.0      Racing              Activision      0.00      0.00
8003       DS  2010.0      Puzzle                7G//AMES      0.00      0.01

      JP_Sales  Other_Sales  Global_Sales
0         3.79         3.31         35.82
1         3.28         2.96         33.00
2         4.70         2.26         28.62
3         2.53         1.79         22.00
4         0.24         1.67         21.82
...        ...          ...           ...
7999      0.00         0.00          0.01
8000      0.01         0.00          0.01
8001      0.00         0.00          0.01
8002      0.00         0.00          0.01
8003      0.00         0.00          0.01

[8004 rows x 12 columns]

In [19]:
#4
# Import libraries
import sqldf

df = pd.read_csv('./data/vgsales.csv')

# Define a SQL (SQLite3) query
query = """
SELECT count("Plateform")
FROM df
WHERE "Plateform" = "Wii";
"""
query2 = """
SELECT count(*)
FROM df;
"""

# Run the query
df_view = sqldf.run(query)
df_view2 = sqldf.run(query2)

print(df_view)

# print((df_view/df_view2)/100)

   count("Plateform")
0                   0